<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lk.my.sliit.it18106398.foodapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UpdateQuantity"></activity>
        <activity
            android:name=".ViewFood"
            android:parentActivityName=".NavigationDrawerActivity" />
        <activity
            android:name=".PendingOrderActivity"
            android:parentActivityName=".NavigationDrawerActivity" />
        <activity
            android:name=".MyBag"
            android:parentActivityName=".NavigationDrawerActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".NavigationDrawerActivity" />
        <activity android:name=".DeliveryPersonList" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity android:name=".promo_order" /> -->
        <activity android:name=".DisplayFoodsActivity" />
        <activity
            android:name=".Resturent_Home"
            android:parentActivityName=".NavigationDrawerActivity" />
        <activity android:name=".ListPromotions" />
        <activity android:name=".promo_list" />
        <activity android:name=".DisplayRestaurantsActivity" />
        <activity android:name=".FoodList" /> <!-- <activity android:name=".promo_order" /> -->
        <activity android:name=".Add_Promotions" />
        <activity android:name=".Promotion_ACTIVITY3" />
        <activity android:name=".Promotion_ACTIVITY2" />
        <activity android:name=".Promotion_ACTIVITY1" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RestuarantsList" />
        <activity android:name=".CompletedOrderActivity" />
        <activity android:name=".Addfoods" />
    </application>

</manifest>